/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
    
}
body {
    background-image: url('../images/background-email-marketing-design-2635600.jpg');
    /*https://www.freeimages.com/photo/email-marketing-design-2635600 */
    margin-top: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    font-family: Georgia, serif;
  
}

h1 {
	font-family: Geneva, sans-serif;
    font-size: 32px;
    color:rgba(63, 3, 3, 0.7);
}
h4{
    line-height: 1px;
    font-family: Geneva, sans-serif;
    color: rgba(170, 18, 18, 0.75);
    font-weight: 700;
}
section{
    margin:auto auto 20% auto;
    width:600px;
    padding:10px;
    background-color: rgba(12, 144, 119, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

label {
	float: left;
    width: 11em;
    text-align: right;
}
input {
    width: 12em;
    margin-left: 1em;
    margin-bottom: .5em;
}
span {
	color: red;
}

input#join {
    padding:5px 15px;
    background-color:rgba(0,0,250,.7);
    color: rgb(255,255,255);
    font-size: 16px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width:130px;
    }
input#reset {
    padding:5px 15px;
    background-color:rgba(0,0,250,.5);
    color: rgb(255,255,255);
    font-size: 16px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width:130px; }

input#join:hover,input#reset:hover
        {
            background-color: rgb(0,0,0);
        }

label.error {
    float: none;
    color: #fb0b0b;
    font-size: 87.5%;
    margin-left: .5em;
    font-family: Geneva, sans-serif;

}
dd {
    color: rgba(0,0,250,.7);
}
dm {
    color:rgba(97, 6, 6, 0.75);
    margin-inline-start: 40px;    
}