@charset "UTF-8";
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  background-image: url("background-email-marketing-design-2635600.jpg");
  /*https://www.freeimages.com/photo/email-marketing-design-2635600 */
  background-color: rgba(12, 144, 119, 0.8);
  margin-top: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Georgia, serif;
}

h1 {
  font-family: Geneva, sans-serif;
  font-size: 32px;
  color: rgba(63, 3, 3, 0.7);
}
h4 {
  line-height: 1px;
  font-family: Geneva, sans-serif;
  color: rgba(170, 18, 18, 0.75);
  font-weight: 700;
}
section {
  margin: auto auto 20% auto;
  width: 600px;
  padding: 10px;
  background-color: rgba(12, 144, 119, 0.8);
  border-radius: 10px;
}

label {
  float: left;
  width: 11em;
  text-align: right;
}
input {
  width: 12em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
span {
  color: red;
}

input#join {
  padding: 5px;
  background-color: rgba(0, 0, 250, 0.7);
  color: rgb(255, 255, 255);
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 130px;
}
input#reset {
  padding: 5px;
  background-color: rgba(0, 0, 250, 0.5);
  color: rgb(255, 255, 255);
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 130px;
}

input#join:hover,
input#reset:hover {
  background-color: rgb(0, 0, 0);
}

label.error {
  float: none;
  color: #fb0b0b;
  font-size: 87.5%;
  margin-left: 0.5em;
  font-family: Geneva, sans-serif;
}
dd {
  color: rgba(0, 0, 250, 0.7);
}
dm {
  color: rgba(97, 6, 6, 0.75);
  margin-inline-start: 40px;
}

@media only screen and (max-width: 600px) {
  label {
    float: left;
    width: 11em;
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
  }
  input {
    width: 12em;
  }
  body {
    background-image: none;
    background-color: rgba(12, 144, 119, 0.8);
  }

  section {
    border-radius: 0px;
  }
}
